# shellcheck disable=SC2034

# NODE_ENV=production
# NODE_ENV=staging
NODE_ENV=development

RESEND_API_KEY='YOUR_RESEND_API_KEY_HERE'
GMAIL_ACCOUNT='your_email+calendar@gmail.com'
CALENDAR_ID='your_calendar_id@gmail.com'
CREDENTIALS_FILENAME='google-credentials.json'

GOOGLE_SCRIPT_URL='your_google_script_url'

API_PATH=docs
API_PORT=3000
